.card{
  display: flex;
  border: 1px solid silver;
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
  padding: 10px;
  .character{
    width: 240px;
    box-shadow: 2px 2px rgb(151, 151, 151);
    border-radius: 5px;
  }
  .data{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .name{
      font-size: xx-large;
      margin: 10px 0;

    }
    h2{
      font-size: large;
      color: rgb(87, 87, 87);
      margin: 5px 0;
    }

  }
}