input{
  background-color: var(--background-dark);
  color: white;
  border: 1px solid silver;
  border-radius: 5px;
  height: 40px;
  width: 90%;
  max-width: 1222px;
  padding-left: 20px;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;  
}
