
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  .logo-rick-morty{
    width: 100%;
  }
  app-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--background-dark);
  }
  app-search-input{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  app-paginator{
    background-color: var(--background-dark);
  }
}